/*----------Login----------*/

#login{
    padding: 0;
    margin: 0;
    background-color: rgb(41, 66, 59);
}
#login .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 96px;
    margin-top: 64px;
    background-color: rgb(72, 135, 124);
    height: 100px;   
    
}
#login .list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-decoration: none;
    color: white;
}
#login .box{
    border: 1px solid #38f1eb;
    width: 1099.36px;
    height: 569.17px;
    box-sizing: border-box;
    background-color:rgba(56, 241, 235, 0.08);
    margin: auto;
}
#login .box .header{
    align-items: center;
    justify-content: center;
    display: flex; 
    color: white;
    font-size: 32px; 
}
#login .box .img{
width: 100%;
height: auto;
display: flex;
justify-content: center;
margin: 12px;
align-items: center;
}
#login .box .loginfo{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;  
}
#login .box .loginfo .username{
margin: 12px;
border: 1px solid #38f1eb;
color: rgba(56, 241, 235, 0.08);
}
#login .box .loginfo .username input[type="text"]{
background-color: rgba(56, 241, 235, 0.08);
}
#login .box .loginfo .password{
    margin: 12px;
    border: 1px solid #38f1eb;
    background-color: rgba(56, 241, 235, 0.08);
  
}
#login .box .loginfo .password input[type="text"]{
    background-color: rgba(56, 241, 235, 0.08);
    }
#login .box .lgin{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 12px;
    border: 1px solid #38f1eb;   
}
#login .box .lgin input[type="button"]{
    background-color: rgba(56, 241, 235, 0.08);
    width: 177px;
height: 21px;
color: rgba(56, 241, 235, 0.08);
}
#login .box .pw{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 8px;
    color: white;
}
#login .box .member{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 8px;
    color: white;
}
#login .box .member .rg{
color: #38f1eb;
}
